body {
font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
    margin-left: 20px;
}

button {
    margin: 10px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}

.to-top__btn {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: red;
    border-color: yellowgreen;
    border-radius: 4px;
}

.to-top__btn:hover {
    background-color:  yellowgreen;
    border-color: red;
}

.to-top__link {
    outline: none;
    color: yellowgreen;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
}

.to-top__btn:hover .to-top__link {
    color: red;
}

.counter {
    display: flex;
    align-items: center;
} 

.counter>p {
    margin: 0;
    font-size: 48px;
    font-family: monospace;
}

.magic-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px Opx rgba(0, 0, 0, 0.14), 0px 1px 5px Opx rgba(0, 0, 0, 0.12);
}
.magic-btn:hover {
    color: antiquewhite;
    background-color: #002588;
}

.magic-btn>.icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
}

.site-nav_link {
    color: currentColor;
text-decoration: none;
}

.site-nav_link:hover {
    text-decoration: underline;
}

.site-nav__link--current {
    color: tomato;
}

.color-picker__option {
    display: inline-block;
width: 40px;
height: 40px;
margin: 4px;
border: none;
outline: none;
cursor: pointer;
}

.transaction-table {
    border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
    padding: 8px;
    border: 1px solid #2a2a2a;
}

.title__link {
    display: inline-flex;
    margin-left: 40px;
}